In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Read CSV
ff_df = pd.read_csv("../Data/ff_df.csv")

In [3]:
# Column to Divide Record Splits
def splitRecord(COLUMN):  
    
    # Empty List to Hold Wins
    win = []
    
    # Empty List to Hold Losses
    loss = []
    
    # Iterate Through Every Row
    for x in range(len(ff_df)):
        
        # Append Wins to Empty List
        win.append(ff_df[COLUMN][x].split("-")[0])
        
        # Append Losses to Empty List
        loss.append(ff_df[COLUMN][x].split("-")[1])
    
    # Return Wins & Losses
    return win, loss

In [4]:
# Save Divison Wins
div_win = splitRecord("division_record")[0]

# Save Divison Losses
div_loss = splitRecord("division_record")[1]

# Save Home Wins
home_win = splitRecord("home_record")[0]

# Save Home Losses
home_loss = splitRecord("home_record")[1]

# Save Away Wins
away_win = splitRecord("away_record")[0]

# Save Away Losses
away_loss = splitRecord("away_record")[1]

# Save Divison Wins to DataFrame
ff_df["div_win"] = div_win

# Save Divison Losses to DataFrame
ff_df["div_loss"] = div_loss

# Save Home Wins to DataFrame
ff_df["home_win"] = home_win

# Save Home Losses to DataFrame
ff_df["home_loss"] = home_loss

# Save Away Wins to DataFrame
ff_df["away_win"] = away_win

# Save Away Losses to DataFrame
ff_df["away_loss"] = away_loss

# Save Empty List to Hold Total Wins
total_win = []

# Save Empty List to Hold Total Losses
total_loss = []

# Iterate Through Every Row
for x in range(len(ff_df)):
    
    # Append Total Wins to Empty List
    total_win.append(int(ff_df["home_win"][x]) + int(ff_df["away_win"][x]))
    
    # Append Total Losses to Empty List
    total_loss.append(int(ff_df["home_loss"][x]) + int(ff_df["away_loss"][x]))

# Save Total Wins to DataFrame
ff_df["total_win"] = total_win

# Save Total Losses to DataFrame
ff_df["total_loss"] = total_loss

# Empty List to Hold Record
record = []

# Iterate Through Every Row
for x in range(len(ff_df)):
    
    # Save Win
    wins = ff_df["total_win"][x]
    
    # Save Loss
    losses = ff_df["total_loss"][x]
    
    # Append Record
    record.append(f"{wins}-{losses}")
    
# Save Overall Record to DataFrame
ff_df["overall_record"] = record

In [5]:
# Function to Remove Zeros
def removeZeros(COLUMN):
    
    # Iterate Through Every Row
    for x in range(len(ff_df)):
        
        # Remove Zero From Record
        ff_df[COLUMN][x] = ff_df[COLUMN][x][:3]
        
# Remove Zeros From division_record Column
removeZeros("division_record")

# Remove Zeros From home_record Column
removeZeros("home_record")

# Remove Zeros From away_record Column
removeZeros("away_record")

# Designate Columns to Keep
ff_df = ff_df[['team_names', 'points_for', 'points_against', 'moves', 'overall_record',
               'division_record', 'home_record', 'away_record', 'div_win', 'div_loss',
               'home_win', 'home_loss', 'away_win', 'away_loss', 'total_win',
               'total_loss']]

/Users/gregoryrash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
# Read CSV
scores_df = pd.read_csv("../Data/scores_df.csv")

# Function to Handle Bye Week
def handleBye(COLUMN):
    
    # Iterate Through Every Row
    for x in range(len(scores_df)):
        
        # Handle Bye
        if scores_df[COLUMN][x] == "Bye":
            
            # Pass
            pass
        
        # Handle Normal Values
        else:
            
            #Convert Value to Float
            scores_df[COLUMN][x] = float(scores_df[COLUMN][x])

# Call handleBye Function on score Column
handleBye("score")

# Call handleBye Function on opponent_score Column
handleBye("opponent_score")

# Empty List to Hold Outcome
outcome = []

# Iterate Through Every Row
for x in range(len(scores_df)):
    
    # Handle Wins
    if scores_df["score"][x] > scores_df["opponent_score"][x]:
        
        # Append Win to List
        outcome.append("Win")
        
    # Handle Losses
    elif scores_df["score"][x] < scores_df["opponent_score"][x]:
        
        # Append Loss to List
        outcome.append("Loss")
    
    #Handle Byes
    elif scores_df["score"][x] == "Bye":
        
        # Append Bye to List
        outcome.append("Bye")
        
# Save Outcome to DataFrame
scores_df["outcome"] = outcome

In [7]:
# Save Unique Week Values
weeks = list(scores_df["week"].unique())

# Iterate Through Each Value
for x in range(len(weeks)):
    
    # Replace Space with Underscore
    weeks[x] = weeks[x].replace(" ", "_")
    
# Save Unique Week Values
week_input = list(scores_df["week"].unique())

# Iterate Through Each Value
for x in range(len(week_input)):
    
    # Replace Space with _lucky_
    week_input[x] = week_input[x].replace(" ", "_lucky_")

# Save Unique Weeks
week_inputs2 = list(scores_df["week"].unique())

# Initialize Count
count = 0

# Iterate Through Each Week
for week in weeks:
    
    #Save Global Variable
    globals()[week] = scores_df[scores_df["week"] == week_inputs2[count]].reset_index(drop=True)
    
    # Increase Count
    count += 1
    
# Drop Byes
Week_14 = Week_14[Week_14["outcome"] != "Bye"]

In [8]:
# Function to Find Times Won While Scoring Under the Week's Average Score
def findLucky(WEEK):
    
        # Save Average Score for the Week
        w1m = WEEK["score"].mean()
        
        # Empty List to Hold Less Than Mean Values
        less_than_mean = []
        
        # Iterate Through Every Row
        for x in range(len(WEEK)):
            
            # Handle Scores Less Than Mean
            if WEEK["score"][x] < w1m:
                
                # Append Name to List
                less_than_mean.append(WEEK["team_name"][x])
                
        # Empty List to Hold Lucky Instances
        lucky = []
        
        # Iterate Through Every Row
        for x in range(len(less_than_mean)):
            
            # Handle When Instance is a Win
            if WEEK[WEEK["team_name"] == less_than_mean[x]]["outcome"].iloc[0] == "Win":
                
                # Append Name to Lucky List
                lucky.append(less_than_mean[x])
                
        # Return Lucky List
        return lucky

# Function to Find Time Lost While Scoring Over the Week's Average Score
def findUnlucky(WEEK):
    
        # Save Average Score for the Week
        w1m = WEEK["score"].mean()
        
        # Empty List to Hold Greater Than Mean Values
        greater_than_mean = []
        
        # Iterate Through Every Row
        for x in range(len(WEEK)):
            
            # Handle Scores Greater Than Mean
            if WEEK["score"][x] > w1m:
                
                # Append Name to List
                greater_than_mean.append(WEEK["team_name"][x])
                
        # Empty List to Hold Unlucky Instances      
        unlucky = []
        
        # Iterate Through Every Row
        for x in range(len(greater_than_mean)):
            
            # Handle When Instance is a Loss
            if WEEK[WEEK["team_name"] == greater_than_mean[x]]["outcome"].iloc[0] == "Loss":
                
                # Append Name to Unlucky List
                unlucky.append(greater_than_mean[x])
                
        # Return Unlucky List  
        return unlucky

In [9]:
# Find Lucky Values for Week 1
Week_lucky_1 = findLucky(Week_1)

# Find Lucky Values for Week 2
Week_lucky_2 = findLucky(Week_2)

# Find Lucky Values for Week 3
Week_lucky_3 = findLucky(Week_3)

# Find Lucky Values for Week 4
Week_lucky_4 = findLucky(Week_4)

# Find Lucky Values for Week 5
Week_lucky_5 = findLucky(Week_5)

# Find Lucky Values for Week 6
Week_lucky_6 = findLucky(Week_6)

# Find Lucky Values for Week 7
Week_lucky_7 = findLucky(Week_7)

# Find Lucky Values for Week 8
Week_lucky_8 = findLucky(Week_8)

# Find Lucky Values for Week 9
Week_lucky_9 = findLucky(Week_9)

# Find Lucky Values for Week 10
Week_lucky_10 = findLucky(Week_10)

# Find Lucky Values for Week 11
Week_lucky_11 = findLucky(Week_11)

# Find Lucky Values for Week 12
Week_lucky_12 = findLucky(Week_12)

# Find Lucky Values for Week 13
Week_lucky_13 = findLucky(Week_13)

# Find Lucky Values for Week 14
Week_lucky_14 = findLucky(Week_14)

# Find Lucky Values for Week 15
Week_lucky_15 = findLucky(Week_15)

# Find Lucky Values for Week 16
Week_lucky_16 = findLucky(Week_16)

# Create Dictionary
lucky = {"Week_1": Week_lucky_1, 
             "Week_2": Week_lucky_2, 
             "Week_3": Week_lucky_3, 
             "Week_4": Week_lucky_4, 
             "Week_5": Week_lucky_5, 
             "Week_6": Week_lucky_6, 
             "Week_7": Week_lucky_7, 
             "Week_8": Week_lucky_8, 
             "Week_9": Week_lucky_9, 
             "Week_10": Week_lucky_10, 
             "Week_11": Week_lucky_11, 
             "Week_12": Week_lucky_12, 
             "Week_13": Week_lucky_13, 
             "Week_14": Week_lucky_14, 
             "Week_15": Week_lucky_15, 
             "Week_16": Week_lucky_16}

# Create DataFrame
lucky_df = pd.DataFrame.from_dict(lucky, orient='index')

In [10]:
# Find Unlucky Values for Week 1
Week_unlucky_1 = findUnlucky(Week_1)

# Find Unlucky Values for Week 2
Week_unlucky_2 = findUnlucky(Week_2)

# Find Unlucky Values for Week 3
Week_unlucky_3 = findUnlucky(Week_3)

# Find Unlucky Values for Week 4
Week_unlucky_4 = findUnlucky(Week_4)

# Find Unlucky Values for Week 5
Week_unlucky_5 = findUnlucky(Week_5)

# Find Unlucky Values for Week 6
Week_unlucky_6 = findUnlucky(Week_6)

# Find Unlucky Values for Week 7
Week_unlucky_7 = findUnlucky(Week_7)

# Find Unlucky Values for Week 8
Week_unlucky_8 = findUnlucky(Week_8)

# Find Unlucky Values for Week 9
Week_unlucky_9 = findUnlucky(Week_9)

# Find Unlucky Values for Week 10
Week_unlucky_10 = findUnlucky(Week_10)

# Find Unlucky Values for Week 11
Week_unlucky_11 = findUnlucky(Week_11)

# Find Unlucky Values for Week 12
Week_unlucky_12 = findUnlucky(Week_12)

# Find Unlucky Values for Week 13
Week_unlucky_13 = findUnlucky(Week_13)

# Find Unlucky Values for Week 14
Week_unlucky_14 = findUnlucky(Week_14)

# Find Unlucky Values for Week 15
Week_unlucky_15 = findUnlucky(Week_15)

# Find Unlucky Values for Week 16
Week_unlucky_16 = findUnlucky(Week_16)

# Create Dictionary
unlucky = {"Week_1": Week_unlucky_1, 
             "Week_2": Week_unlucky_2, 
             "Week_3": Week_unlucky_3, 
             "Week_4": Week_unlucky_4, 
             "Week_5": Week_unlucky_5, 
             "Week_6": Week_unlucky_6, 
             "Week_7": Week_unlucky_7, 
             "Week_8": Week_unlucky_8, 
             "Week_9": Week_unlucky_9, 
             "Week_10": Week_unlucky_10, 
             "Week_11": Week_unlucky_11, 
             "Week_12": Week_unlucky_12, 
             "Week_13": Week_unlucky_13, 
             "Week_14": Week_unlucky_14, 
             "Week_15": Week_unlucky_15, 
             "Week_16": Week_unlucky_16}

# Create DataFrame
unlucky_df = pd.DataFrame.from_dict(unlucky, orient='index')

In [11]:
# Function to Sum Weekly Luck Instances
def completeDF(DF, label):
    
    # Extract Values From Column 1
    c1 = dict(DF[0].value_counts())
    
    # Extract Values From Column 2
    c2 = dict(DF[1].value_counts())
    
    # Extract Values From Column 3
    c3 = dict(DF[2].value_counts())
    
    # Create DataFrame From Extracted Values
    luck_df = pd.DataFrame({"C1":c1, "C2":c2, "C3":c3})
    
    # Sum Extracted Values
    luck_df[f"{label}"] = luck_df.sum(axis=1)
    
    # Sort Values & Convert to DataFrame
    luck_df = luck_df[f"{label}"].sort_values(ascending=False).to_frame()
    
    # Get Full List of Team Names
    full_list = list(ff_df["team_names"].unique())

    # Get Team Names Present in this Luck Instance
    luck_list = list(luck_df.index)

    # Find Team Names Not Present in this Luck Instance
    luck_diff = set(full_list) - set(luck_list)
    
    # Convert Teams Not Present into List
    luck_list = list(luck_diff)
    
    # Empty DataFrame to Hold Zeros
    zeros = []
    
    # Iterate Through Every Team Not Present
    for x in range(len(luck_list)):
        
        # Append Zero to Empty List
        zeros.append(float(0))
        
    # Create DataFrame From List Values 
    luck_df2 = pd.DataFrame(zeros, columns = [f"{label}"], index = luck_list)
    
    # Append Second DataFrame to First
    luck_df = luck_df.append(luck_df2) 
    
    # Return DataFrame
    return luck_df

In [12]:
# Find Lucky Values
lucky_df = completeDF(lucky_df,"Lucky")

# Find Unlucky Values
unlucky_df = completeDF(unlucky_df,"Unlucky")

# Concatenate DataFrames
luck_df = pd.concat([lucky_df, unlucky_df], axis=1)

# Convert Lucky Values to INT
luck_df["Lucky"] = luck_df["Lucky"].astype('int')

# Convert Unlucky Values to INT
luck_df["Unlucky"] = luck_df["Unlucky"].astype('int')

# Find Win Difference
luck_df["Overall Luck"] = luck_df["Lucky"] - luck_df["Unlucky"]

# Create New DataFrame From Select ff_df Columns
records = ff_df[["team_names", "overall_record", "total_win", "total_loss", "points_for", "points_against"]]

# Set Index to Team Names
records.set_index('team_names', inplace=True)

# Concatenate DataFrames
luck_df = pd.concat([luck_df, records], axis=1)

# Sort Values by Record
luck_df = luck_df.sort_values("overall_record", ascending=False)

# Rename Columns
luck_df.columns = ["Wins Below Mean", "Losses Above Mean", "Difference", "Record", "Wins", "Losses", "Points For", "Points Against"]

# Find Adjusted Win Total
luck_df["New Wins"] = luck_df["Wins"] - luck_df["Difference"]

# Find Adjusted Loss Total
luck_df["New Losses"] = luck_df["Losses"] + luck_df["Difference"]

# Empty List to Hold Adjusted Records
record = []

# Iterate Through Every Row
for x in range(len(luck_df)):
    
    # Save Adjusted Win Total
    wins = luck_df["New Wins"][x]
    
    # Save Adjusted Loss Total
    losses = luck_df["New Losses"][x]
    
    # Append Record to Empty List
    record.append(f"{wins}-{losses}")
    
# Save New Record as Column
luck_df["New Record"] = record

# Find Combined Win Total
luck_df["Combined Wins"] = luck_df["Wins"] + luck_df["New Wins"]

# Find Combined Loss Total
luck_df["Combined Losses"] = luck_df["Losses"] + luck_df["New Losses"]

# Empty List to Hold Combined Record
record = []

# Iterate Through Every Row
for x in range(len(luck_df)):
    
    # Save Combined Win Total
    wins = luck_df["Combined Wins"][x]
    
    # Save Combined Loss Total
    losses = luck_df["Combined Losses"][x]
    
    # Append Record to Empty List
    record.append(f"{wins}-{losses}")
    
# Save Combined Record as Column
luck_df["Combined Record"] = record

# Create New DataFrame From Select luck_df Columns
luck_df = luck_df[["Points For", "Points Against", 'Wins Below Mean', 'Losses Above Mean', 'Difference', 'Record','New Record', 'Combined Record']]

# Read CSV
divisions = pd.read_csv("../Data/divisions.csv")

# Set Index to Team Name
divisions.set_index("team_names", inplace=True)

# Concatenate DataFrames
luck_df = pd.concat([luck_df, divisions], axis=1)

In [13]:
# Show Luck DataFrame
luck_df

,Points For,Points Against,Wins Below Mean,Losses Above Mean,Difference,Record,New Record,Combined Record,Division
Arizona Vipers,1603.38,1366.12,1,3,-2,9-4,11-2,20-6,East
Simp Alert,1652.72,1444.74,1,2,-1,9-4,10-3,19-7,East
Unger the Influence,1599.28,1412.48,0,2,-2,9-4,11-2,20-6,East
San Clemente Beaters,1435.76,1310.96,4,2,2,8-5,6-7,14-12,East
Wuhan Bats,1500.48,1361.54,3,1,2,8-5,6-7,14-12,East
The Vaccination ðŸ¥¶,1614.70,1548.10,1,0,1,8-5,7-6,15-11,West
Show Me Your TDâ€™s,1558.22,1581.48,1,3,-2,7-6,9-4,16-10,East
The Tempe Turriblez,1482.28,1468.40,3,3,0,6-7,6-7,12-14,West
Mighty BetaFish,1524.92,1592.24,2,2,0,5-8,5-8,10-16,West
Deshaun's W's,1352.82,1619.30,2,1,1,4-9,3-10,7-19,West
877 CASH NOW,1370.90,1554.20,2,3,-1,3-10,4-9,7-19,West
My Football CLUB,1248.92,1684.82,0,1,-1,2-11,3-10,5-21,West

In [14]:
# Show ff_df DataFrame
ff_df

,team_names,points_for,points_against,moves,overall_record,division_record,home_record,away_record,div_win,div_loss,home_win,home_loss,away_win,away_loss,total_win,total_loss
0,The Vaccination ðŸ¥¶,1614.70,1548.10,34,8-5,4-1,4-3,4-2,4,1,4,3,4,2,8,5
1,Simp Alert,1652.72,1444.74,26,9-4,3-2,3-3,6-1,3,2,3,3,6,1,9,4
2,San Clemente Beaters,1435.76,1310.96,5,8-5,2-3,4-3,4-2,2,3,4,3,4,2,8,5
3,Unger the Influence,1599.28,1412.48,35,9-4,3-2,4-3,5-1,3,2,4,3,5,1,9,4
4,Arizona Vipers,1603.38,1366.12,15,9-4,4-1,4-1,5-3,4,1,4,1,5,3,9,4
5,Wuhan Bats,1500.48,1361.54,24,8-5,2-3,6-1,2-4,2,3,6,1,2,4,8,5
6,Mighty BetaFish,1524.92,1592.24,12,5-8,3-2,1-4,4-4,3,2,1,4,4,4,5,8
7,877 CASH NOW,1370.90,1554.20,11,3-10,3-2,2-5,1-5,3,2,2,5,1,5,3,10
8,Deshaun's W's,1352.82,1619.30,26,4-9,1-4,2-5,2-4,1,4,2,5,2,4,4,9
9,Show Me Your TDâ€™s,1558.22,1581.48,61,7-6,1-4,4-3,3-3,1,4,4,3,3,3,7,6
10,The Tempe Turriblez,1482.28,1468.40,41,6-7,3-2,3-3,3-4,3,2,3,3,3,4,6,7
11,My Football CLUB,1248.92,1684.82,10,2-11,1-4,2-5,0-6,1,4,2,5,0,6,2,11

In [15]:
# Show Scores DataFrame
scores_df

,team_name,score,week,opponent,opponent_score,outcome
0,Simp Alert,124.70,Week 1,Unger the Influence,123.28,Win
1,Unger the Influence,123.28,Week 1,Simp Alert,124.70,Loss
2,Arizona Vipers,138.88,Week 1,Wuhan Bats,98.10,Win
3,Wuhan Bats,98.10,Week 1,Arizona Vipers,138.88,Loss
4,Show Me Your TDâ€™s,95.00,Week 1,San Clemente Beaters,109.30,Loss
...,...,...,...,...,...,...
187,Mighty BetaFish,122.66,Week 16,877 CASH NOW,83.24,Win
188,Deshaun's W's,180.28,Week 16,Show Me Your TDâ€™s,160.12,Win
189,Show Me Your TDâ€™s,160.12,Week 16,Deshaun's W's,180.28,Loss
190,My Football CLUB,83.82,Week 16,The Tempe Turriblez,94.22,Loss
191,The Tempe Turriblez,94.22,Week 16,My Football CLUB,83.82,Win